/* Inizio CSS ********************************************************************************************************/

/* Webfont: Section-Light */

@font-face {
    font-family: 'Section';
    src: url('Section-Light.eot'); /* IE9 Compat Modes */
    src: url('Section-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Section-Light.woff') format('woff'), /* Modern Browsers */
         url('Section-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Section-Light.svg#Section-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: Section-Black */

@font-face {
    font-family: 'SectionBlack';
    src: url('Section-Black.eot'); /* IE9 Compat Modes */
    src: url('Section-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Section-Black.woff') format('woff'), /* Modern Browsers */
         url('Section-Black.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Section-Black.svg#Section-Black') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: Section-BlackCaps */
@font-face {
    font-family: 'SectionBlackCaps';
    src: url('Section-BlackCaps.eot'); /* IE9 Compat Modes */
    src: url('Section-BlackCaps.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Section-BlackCaps.woff') format('woff'), /* Modern Browsers */
         url('Section-BlackCaps.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Section-BlackCaps.svg#Section-BlackCaps') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}



/* Webfont: Section-BoldCaps */

@font-face {
    font-family: 'SectionBoldCaps';
    src: url('Section-BoldCaps.eot'); /* IE9 Compat Modes */
    src: url('Section-BoldCaps.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Section-BoldCaps.woff') format('woff'), /* Modern Browsers */
         url('Section-BoldCaps.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Section-BoldCaps.svg#Section-BoldCaps') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: Section-Medium */

@font-face {
    font-family: 'SectionMed';
    src: url('Section-Medium.eot'); /* IE9 Compat Modes */
    src: url('Section-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Section-Medium.woff') format('woff'), /* Modern Browsers */
         url('Section-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Section-Medium.svg#Section-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Section-MediumCaps */

@font-face {
    font-family: 'SectionMedCaps';
    src: url('Section-MediumCaps.eot'); /* IE9 Compat Modes */
    src: url('Section-MediumCaps.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Section-MediumCaps.woff') format('woff'), /* Modern Browsers */
         url('Section-MediumCaps.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Section-MediumCaps.svg#Section-MediumCaps') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Georgia */
@font-face {
    font-family: 'Georgia';
    src: url('Georgia.eot'); /* IE9 Compat Modes */
    src: url('Georgia.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Georgia.woff') format('woff'), /* Modern Browsers */
         url('Georgia.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Georgia.svg#Georgia') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Georgia-Italic */

@font-face {
    font-family: 'GeorgiaItalic';
    src: url('Georgia-Italic.eot'); /* IE9 Compat Modes */
    src: url('Georgia-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Georgia-Italic.woff') format('woff'), /* Modern Browsers */
         url('Georgia-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Georgia-Italic.svg#Georgia-Italic') format('svg'); /* Legacy iOS */
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Fine CSS ********************************************************************************************************/